/* リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基本スタイル */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* 改行のスタイル */
a {
    display: block;
    margin: 10px 0;
}

/* アクティブなリンクのスタイル */
a.active {
    font-weight: bold;
    color: #007BFF;
}

/* 丸いボタンのスタイル */
a{
    border-radius: 8px;
    padding: 10px 15px;
    text-decoration: none;
}